* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #fff;
  color: #202124;
  margin: 0;
  padding: 2em;
}

.container {
  max-width: 1000px; 
  padding-left: 20px;
  padding-right: 160px;
  text-align: left;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #dadce0;
  padding-bottom: 1em;
  margin-bottom: 2em;
  color: #d93025;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.form-group label {
  flex: 0 0 220px;
  margin-right: 10px;
  font-size: 14px;
}

.form-group input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #dadce0;
  border-radius: 4px;
}

.form-group.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 470px;
}

button {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #357ae8;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  height: 60px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  text-align: center;
  padding: 14px 12px;
}

a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.search-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.logo {
  width: 272px;
}

form {
  position: relative;
  margin-top: 30px;
}

input#search{
  width: 580px;
  height: 45px;
  padding-left: 50px;
  font-size: 1.2rem;
  border-radius: 45px;
  border: 1px solid #d3d3d3;
}

input#search:hover {
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input#search:focus {
  outline: none;
}

.search {
  width: 15px;
  position: absolute;
  top: 15px;
  left: 15px; 
}

.mic {
  width: 15px;
  position: absolute;
  top: 15px;
  left: 545px;
}

.buttons {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  border: 1px solid transparent;
  padding: 8px 12px;
  background-color: #f8f9f8;
  border-radius: 5px;
}

.button:hover {
  border: 1px solid #eee;
  box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
  cursor: pointer;
}